<ul class="tabs-list" >
	<li class = "tabs-list-item">
		<a href="#/maintain" ng-class="tabClass(1)" ng-click="selectedTab(1)">Maintain commissions</a>
	</li>
	<li class = "tabs-list-item">
		<a href="#/upload" ng-class="tabClass(2)" ng-click="selectedTab(2)">Upload download</a>
	</li>
	<li class = "tabs-list-item">
		<a href="#/reports" ng-class="tabClass(3)" ng-click="selectedTab(3)">Reports</a>
	</li>
	<li class = "tabs-list-item">
		<a href="#/maintance" ng-class="tabClass(4)" ng-click="selectedTab(4)">Maintance</a>
	</li>
</ul>
		