
<div class="search-form">
	<h1>{{::usingSearch}} search using:</h1>
	<form name="searchFormName" ng-submit="submitDetails()">
		<div ng-repeat="detail in searchFormData">
			<p>{{::detail.descriptiveName}}</p>
			<input
				ng-if="detail.inputFieldType === 'INPUT'"
				name="INPUT_{{::$index}}"
				ng-model="input"
				ng-maxlength="detail.fieldLength"
				ng-disabled="detail.disabledUntilPreviousTierSet ? searchFormName['INPUT_{{$index-1}}'].$error.required : detail.disabledUntilPreviousTierSet "
				ng-pattern="detail.type === detailType ? regExpAlphaNumeric : regExpNumeric"
				required
			>

			<select ng-if="detail.inputFieldType === 'SELECT'"
					ng-model="input"
					name="INPUT_{{::$index}}"
					ng-disabled="detail.disabledUntilPreviousTierSet ? searchFormName['INPUT_{{$index-1}}'].$error.required : detail.disabledUntilPreviousTierSet "
					>
			</select>

			<span ng-show="searchFormName.INPUT_{{::$index}}.$error.pattern">Incorrect value</span>
		</div>
		<input type="submit" value="Search">
	<form>
</div>

<div class="search-results-tabs" ng-repeat="detail in searchFormData">
	<ul >
		<li>
			<a  href
				ng-click="selectedTab($index)">
				{{detail.shortName}}
			</a>
		</li>
	</ul>
	<div ng-show="tabShow($index)"> No search result:</div>
</div>
